<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    <main>
        <p>Welcome, {{ .User }}! We're glad to have you here.</p>
		<h2 id='pet-counter'>Henry has been pet 0 times!</h2>
		<button id='pet-henry-btn'>Pet Henry</button>
		<br>
		<input type='text' id='chat-content'>
		<button id='send-chat-btn'>Send chat</button>
		<script src="../static/script.js"></script>
    </main>
    <footer>
        <p>&copy; 2024 My Go App</p>
    </footer>
</body>
</html>
